/*********** MENY ***********/

.navbar-nav{margin:7.5px 0 7.5px 20px}

.navbar-header img{margin-top:6.5px;}

@media(max-width:767px){.navbar-header img{margin-top:1px; margin-left:20px;}
}

.navbar-default {background-color: #fff; border-bottom: solid 3px #dd682c;}

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  color: #dd682c;
  background-color: #fff;
}

@media(min-width:767px){
	.nav.navbar-nav li:hover {
		.dropdown-menu {
			display: block;
		}
	}
}

.nav.navbar-nav li.menu-item-has-children a:after{
		float: right;
		content: '';
		width: 0;
		height: 0;
		border-left: 5px solid transparent;
		border-right: 5px solid transparent;

		border-top: 5px solid #dd682c;
		margin-top: 8px;
		margin-left: 5px;
	}
@media(max-width:767px){
	.nav.navbar-nav li.menu-item-has-children .dropdown-menu {
		display: none;
	}
	.nav.navbar-nav li.menu-item-has-children .dropdown-menu li a:after {
		display: none;
	}
	.nav.navbar-nav li.menu-item-has-children a:after{
		float: right;
		content: '';
		width: 0;
		height: 0;
		border-left: 5px solid transparent;
		border-right: 5px solid transparent;

		border-top: 5px solid #dd682c;

	}

}
