@import 'compass';
@import 'normalize';

@import 'bootstrap';
@import 'vars';
@import 'mixins';


/* ==========================================================================
	 base
	 ========================================================================== */

body {
  // min-height: 100%;
  /*padding-top: 70px;*/
}



/* ==========================================================================
	 header
	 ========================================================================== */

@import 'header';

#header {
	height: 400px;
}


/* ==========================================================================
	 Front Page
	 ========================================================================== */

@import 'frontpage';
@import 'flexslider';

/* ==========================================================================
	 content
	 ========================================================================== */

@import 'page';
@import 'post-types';
#header-title{
	height:60px;
	padding-bottom:160px;
	background:url(../images/bg.jpg) no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}
.head-title {
	margin-top:55px;
	padding: 30px;
	font-size: 24px;
	font-weight: 500;
	line-height: 2.1428571435;
	color: inherit;
	text-align: center;
	// border: 1px solid red;
}

.two-column-first {
	border-left: 1px solid #eee;
	padding-left: 20px;
}
.two-column-second {
	border-left: 1px solid #eee;
	padding-left: 20px;
}

/* ==========================================================================
	 footer
	 ========================================================================== */

@import 'footer';
