@import 'compass';
@import 'normalize';

@import 'bootstrap';
@import 'vars';
@import 'mixins';


/* ==========================================================================
	 base
	 ========================================================================== */

body {
  // min-height: 100%;
  /*padding-top: 70px;*/
}



/* ==========================================================================
	 header
	 ========================================================================== */

@import 'header';

#header {
	height: 400px;
}


/* ==========================================================================
	 Front Page
	 ========================================================================== */

@import 'frontpage';
@import 'flexslider';

/* ==========================================================================
	 content
	 ========================================================================== */

@import 'page';
@import 'post-types';

.two-column-first {
	border-left: 1px solid #eee;
	padding-left: 20px;
}
.two-column-second {
	border-left: 1px solid #eee;
	padding-left: 20px;
}

/* ==========================================================================
	 footer
	 ========================================================================== */

@import 'footer';
